@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face{
    font-family:coolFont;
    src:url(font.otf);
}


html{
    color: rgb(16,0,180);
    /* background-color: rgb(255,181,255); */
    background-color: rgb(250, 124, 124);
    font-family: coolFont;
    overflow-x: hidden;
}
body{
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 80px;
    margin-bottom:0px;
    margin-top:10px;
    font-weight: bold;
}
h2{
    font-size:40px;
    margin-top:5px;
    margin-bottom:10px;
}
h3{
    font-size:25px;
    margin-bottom:8px;
}

h4{
    margin:0px;
    color:black;
}

#index{
    margin-bottom: 0px;
}

#projects{
    margin-top:0px;
}

.project{
    margin-bottom:20px;
}

hr {
    width:110%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid rgb(16,0,180);
    padding: 0px;
    margin:3px; 
}